.App {
  margin-top: 50px;
}
.container {
  width: 520px;
  height: 550px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 4px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.container-padding {
  padding: 30px 50px;
}
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 30px;
  color: #292929;
  margin-bottom: 12px;
}
.sub-heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-size: 16px;
  color: #545454;
  margin-bottom: 12px;
}
.input_card {
  margin-top: 10px;
}
.input {
  margin-bottom: 16px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.input .MuiInputBase-input {
  font-family: inherit;
  font-size: 16px;
  color: #333;
}

.input .MuiInputLabel-root {
  font-family: inherit;
}

.line {
  color: #545454;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.para {
  font-size: 18px;
  text-align: center;
}

.line-divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
}

.line p {
  margin: 10px;
  color: lightslategray;
}

.icon {
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Hover effect */
.social-icon:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-login {
  margin: 10px;
  width: 100%;
  background-color: #000;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
